{% extends 'base.html' %}

{% block title %}Our Pets{% endblock title %}

{% block content %}

<h1 class='display-1'>Our Pets</h1>

<div class="row pets-listing">
    {% for pet in pets %}
    <div class="col-3">
        <img class="img-thumbnail" src="{{ pet.img_url }}">
        <a href="/{{pet.id}}">{{ pet.name }}</a>
    {% if pet.available %} <b> is available!</b> {% endif %}
    </div>
    {% else %}
    <div class="col-12">No pets yet.</div>
    </div>
    {% endfor %}
</div>
<a class="btn btn-primary" href="{{ url_for('add_pet') }}">Add a Pet</a>

{% endblock content %}

