{% extends 'base.html' %}

{% block title %}{{pet.name}}{% endblock title %}

{% block content %}
<h1>{{pet.name}}</h1>

<div class="row">
    {% if pet.img_url %}
        <div class="col-sm-2 col-6">
        <img src="{{ pet.img_url }}" alt="{{ pet.name }}" class="img-fluid">
        </div>
    {% endif %}
</div>

<ul>
    <li><b>Name:</b><i>{{pet.name}}</i></li>
    <li><b>Species:</b><i>{{pet.species}}</i></li>
    <li><b>Age:</b><i>{{pet.age}}</i></li>
</ul>

{% if pet.notes %}
<h4>Notes:</h4>
<p>{{pet.notes}}</p>
{% endif %}

<form>
<button class="btn btn-danger btn-lg" formmethod="POST" formaction="/{{pet.id}}/delete">Delete</button>
</form>

<h3>Update {{pet.name}}</h3>
<form method="POST">
    {% include 'update_form.html' %}
    <button class="btn btn-primary btn-lg mt-2">Edit</button>
</form>

{% endblock content %}